

@{
    ViewBag.Title = "Harvey Nichols";
}

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="hn-summary-block hn-summary-block-primary">
            <div class="summary-background">
                <i class="glyphicon glyphicon-picture"></i>
            </div>
            <div class="summary-body">
                <div class="summary-line1">25.259</div>
                <div class="summary-line2">Photography</div>
            </div>
            <div class="summary-footer">
                <a href="/Style">
                    View Styles
                    <i class="glyphicon glyphicon-chevron-right pull-right">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="hn-summary-block hn-summary-block-success">
            <div class="summary-background">
                <i class="glyphicon glyphicon-tower"></i>
            </div>
            <div class="summary-body">
                <div class="summary-line1">
                    11
                </div>
                <div class="summary-line2">
                    DC
                </div>
            </div>
            <div class="summary-footer">
                <a href="Playlists.html">
                    More data...
                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="hn-summary-block hn-summary-block-info">
            <div class="summary-background">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <div class="summary-body">
                <div class="summary-line1">
                    2143
                </div>
                <div class="summary-line2">
                    Merchandising
                </div>
            </div>
            <div class="summary-footer">
                <a href="Songs.html">
                    Merchandising...
                    <i class="glyphicon glyphicon-chevron-right pull-right">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="hn-summary-block hn-summary-block-danger">
            <div class="summary-background">
                <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <div class="summary-body">
                <div class="summary-line1">
                    1
                </div>
                <div class="summary-line2">
                    LIVE
                </div>
            </div>
            <div class="summary-footer">
                <a href="Downloads.html">
                    LIVE Data...
                    <i class="glyphicon glyphicon-chevron-right pull-right">
                    </i>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-8">
        <div class="hn-readme-box hn-readme-box-primary">
            <div class="readme-header">
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <div class="readme-body">
                <h1>Universal Sizing</h1>
                <p>
                    Search Conversions
                </p>
            </div>
            <div class="readme-footer">
                <a href="#">
                    + Create a Conversion...
                </a>
            </div>
        </div>
    </div>
</div>