@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC And AngularJS</h1>
    <p class="lead">This is a Proof of concept of the integration between ASP.NET MVC, AngularJS and Web API.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>eCommerce Admin Section</h2>
        <p>
            This POC shows how to integrate AngularJS with ASP.NET MVC And WEB API
            using SILOS of SINGLE PAGE APPLICATION, and perfomring the backend Update
            at the final stage of the process.
        </p>
        <p><a class="btn btn-default" href="https://angularjs.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Angular?</h2>
        <p>• Dedicated Google resources working on it</p>
        <p>• Huge adoption and momentum in community</p>
        <p>• implies – better integration with other libraries</p>
        <p><a class="btn btn-default" href="https://famo.us/integrations/angular/#/3">famo.us &raquo;</a></p>
        <p><a class="btn btn-default" href="http://docs.telerik.com/kendo-ui/AngularJS/introduction">Kendo UI &raquo;</a></p>
        <p>Biggest contender – Durandal / Knockout</p>
        <p><a class="btn btn-default" href="http://eisenbergeffect.bluespire.com/angular-and-durandal-converge/">Creator of Durandal is now on the Angular team</a></p>

    </div>
    <div class="col-md-4">
        <h2>Authentication</h2>
        <p>The user will also authenticate using Single Memebership provider. AngularJS will perform a REST call using Web Api to validate the User credentials.</p>
        <p><a class="btn btn-default" href="http://weblogs.asp.net/jongalloway/simplemembership-membership-providers-universal-providers-and-the-new-asp-net-4-5-web-forms-and-asp-net-mvc-4-templates">Learn more &raquo;</a></p>

        <p>The user registration process uses AngularJS to perform REST calls and dynamically validate input without doing post back to the server.</p>

    </div>
</div>