    <div class="container">
        <div class="row">
            <header>
                <a href="Default.html">HARVEY NICHOLS</a>
            </header>

            <div id=”Menu”>
                @Html.Action("MenuIndex", "MenuItem")
            </div>
        </div>
    </div>
    
